@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Porter-Sans';
    src: url('../public/assets/font/porter-sans/porter-sans-inline-block-webfont.eot');
    src: url('../public/assets/font/porter-sans/porter-sans-inline-block-webfont.eot?#iefix') format('embedded-opentype'),
         url('../public/assets/font/porter-sans/porter-sans-inline-block-webfont.woff') format('woff'),
         url('../public/assets/font/porter-sans/porter-sans-inline-block-webfont.ttf') format('truetype'),
         url('../public/assets/font/porter-sans/porter-sans-inline-block-webfont.svg#porter_sans_blockblock') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
  .porter-sans {
    font-family: 'Porter-Sans', sans-serif;
  }
  .str-video {
    --str-video__primary-color: #6002ee;
    --str-video__secondary-color: #90ee02;
    --str-video__text-color1: #282b2b;
    --str-video__border-radius-circle: 15px;
    /* --str-video__icon--download: url('base64 encoded SVG') */
  }
  @media(max-width:600px){
      .str-video__speaker-layout{
        display: flex;
        flex-direction: column;
      }
  }